[user]
	email = artur.tagisow@billennium.com
	name = Artur Tagisow
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = detla --color-only
[credential]
	helper = store
[pull]
	rebase = false
[push]
	default = current

[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	syntax-theme = Monokai Extended
