[submodule ".vim/pack/plugins/start/lightline"]
	path = .vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/plugins/start/vim-devicons"]
	path = .vim/pack/plugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".vim/pack/plugins/start/vim-nerdtree-syntax-highlight"]
	path = .vim/pack/plugins/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
[submodule "/home/artur/.vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/plugins/start/vim-vue"]
	path = .vim/pack/plugins/start/vim-vue
	url = https://github.com/posva/vim-vue
[submodule ".vim/pack/themes/start/dracula"]
	path = .vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule ".vim/pack/plugins/start/vim-javascript"]
	path = .vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/plugins/start/camelcasemotion"]
	path = .vim/pack/plugins/start/camelcasemotion
	url = https://github.com/bkad/CamelCaseMotion.git
